@model IEnumerable<Contact>
@{
    ViewData["Title"] = "Mensajes de los Contactos";
}
    
<h1>@ViewData["Title"]</h1>

<main class="Container text-center">
    @if(!Model.Any() || Model == null){
        <div class="alert alert-warning">
            <p>No hay mensajes de contáctanos aún</p>
        </div>
    }
    else{
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Mensaje</th>
                    <th>Fecha</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                        <td>@Html.DisplayFor(modelItem => item.Message)</td>
                        <td>@item.Date.ToOffset(TimeSpan.FromHours(-5)).ToString("dd-MM-yyyy HH:mm")</td>
                        <td>
                            <a asp-controller="Contact" asp-action="ContactEdit" asp-route-id="@item.Id" class="btn btn-success">Editar</a> 
                        </td>
                        <td>
                            <a asp-controller="Contact" asp-action="ContactDelete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</main>