@model Product

@{
    ViewData["Title"] = "Lista de Productos";
}

<h1>@ViewData["Title"]</h1>

<div class="Container">
    <div class="row">
        <div class="col-6">
            <img src="@Model.ProductImage" alt="@Model.ProductName" style="width:100%""/>
        </div>
        <div class="col-6">
            <h2>@Model.ProductName</h2>
            <h3>@Model.ProductCode</h3>
            <p>@Model.ProductDescription</p>
            <a class="btn btn-primary">Comprar</a>
        </div>
    </div>
</div>