@model Product

@{
    ViewData["Title"] = "Detalle del Producto";
}

<h1>@ViewData["Title"]</h1>

<div class="Container">
    <div class="row">
        <div class="col-6">
            <img src="@Model.Image" alt="@Model.Name" style="width:100%""/>
        </div>
        <div class="col-6">
            <h2>@Model.Name</h2>
            <h3>@Model.Code</h3>
            <p>@Model.Description</p>
            <p>S/. @Model.Price</p>

            <form asp-action="CatalogCar" asp-controller="Catalog" method="post">
                <input type="hidden" name="Id" value="@Model.Id">
                <label for="quantity">Cantidad:</label>
                <input type="number" id="quantity" name="quantity" value="1" min="1">
                <button type="submit" class="btn btn-primary">Añadir al carrito</button>
            </form>

        </div>
    </div>
</div>