@model IEnumerable<Order>

@{
    ViewData["Title"] = "Pedido";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    @if(Model == null){
        <div class="alert alert-warning">
            <p>No se encontro el pedido</p>
        </div>
    }
    else 
    {
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Código Pago</th>
                    <th>Monto Total</th>
                    <th>Estado</th>
                    <th>Observaciones</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                    <td>@Html.DisplayFor(modelItem => item.OrderId)</td>
                    <td>@Html.DisplayFor(modelItem =>item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem =>item.Name)</td>
                    <td>@Html.DisplayFor(modelItem =>item.Email)</td>
                    <td>@Html.DisplayFor(modelItem =>item.Phone)</td>
                    <td>@Html.DisplayFor(modelItem =>item.Address)</td>
                    <td>@Html.DisplayFor(modelItem =>item.PaymentId)</td>
                    <td>@Html.DisplayFor(modelItem =>item.AmountTotal)</td>
                    <td>@Html.DisplayFor(modelItem => item.State)</td>
                    <td>@Html.DisplayFor(modelItem => item.Observations)</td>
                    <td>
                        <a asp-controller="Order" asp-action="OrderEdit" asp-route-id="@item.OrderId" class="btn btn-primary">Editar</a> 
                    </td>
                    <td>
                        <a asp-controller="OrderDetails" asp-action="OrderDetailsList" asp-route-id="@item.OrderId" class="btn btn-success">Detalle</a>
                    </td>
                    <td>
                        <a asp-controller="Order" asp-action="OrderDelete" asp-route-id="@item.OrderId" class="btn btn-danger">Eliminar</a> 
                    </td>
                </tr>
                }      
            </tbody>
        </table>
    </div>  
    }
</div>