@model IEnumerable<OrderDetails>

@{
    ViewData["Title"] = "Detalle de Pedidos";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    @if(!Model.Any() || Model == null)
    {
        <div>
            <p class="alert alert-warning">No tiene pedidos pendientes</p>
        </div>
    }
    else
    {   
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Imagen</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.OrderDetailsId)</td>
                        <td class="text-center"><img src="@item.Proforma.Product.Image" alt="" style="width: 70px"></td>
                        <td>@Html.DisplayFor(modelItem => item.Proforma.Product.Code)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>@item.Subtotal</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div> 