@model IEnumerable<Proforma>

@{
    ViewData["Title"] = "Carrito de compras";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <a class="btn btn-primary" asp-controller="Payment" asp-action="PaymentCreate">Pagar</a>
    @if(Model == null)
    {
        <div>
            <p class="alert alert-warning">No hay productos en su carrito</p>
        </div>
    }
    else
    {   
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Imagen</th>
    using Microsoft.AspNetCore.Http.HttpResults;
    using Microsoft.AspNetCore.Http.HttpResults;
    using Microsoft.AspNetCore.Http.HttpResults;
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td class="text-center"><img src="@item.Product.Image" alt="@item.Product.Name" style="width: 70px"></td>
                        <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>@item.Subtotal</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>@item.State</td>
                        <td><a class="btn btn-danger" asp-action="ProformaDelete" asp-route-id="@item.Id">Eliminar</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-end me-5">
            <h4>Total : S/. @Model.Sum(p => p.Subtotal)</h4>
        </div>
    }
</div> 