@model Proforma

@{
    ViewData["Title"] = "Carrito de compras";
}

<h1>@ViewData["Title"]</h1>

<div class="Container">
    <div class="row">
        <div class="col-6">
            <img src="@Model.Product?.Image" alt="@Model.Product?.Name" style="width:100%""/>
        </div>
        <div class="col-6">
                <h2>@Model.Product?.Name</h2>
                <h3>@Model.Product?.Code</h3>
                <p>@Model.Product?.Description</p>
                <p>S/. @Model.Price</p>
            <form method="post" asp-controller="Proforma" asp-action="ProformaEdit">
                <div class="form-group">
                    <label for="quantity" class="form-label">Cantidad:</label>
                    <input  type="Number" for="quantity" name="quantity" value="@Model.Quantity" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
        </div>
    </div>
</div>